apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireflow-web
  labels:
    app: wireflow-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wireflow-web
  template:
    metadata:
      labels:
        app: wireflow-web
    spec:
      containers:
        - name: wireflow-web
          image: ghcr.io/wireflowio/wireflow-web:v0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 20

      # 如果是私有仓库，取消注释并创建对应 secret
      # imagePullSecrets:
      #   - name: regcred

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wireflow-web
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: wireflow.run
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: wireflow-web
                port:
                  number: 80