---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: wireflowpeers.wireflowcontroller.wireflow.run
spec:
  group: wireflowcontroller.wireflow.run
  names:
    kind: WireflowPeer
    listKind: WireflowPeerList
    plural: wireflowpeers
    shortNames:
    - wfpeer
    singular: wireflowpeer
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The current status of the node
      jsonPath: .status.status
      name: STATUS
      type: string
    - description: The current phase of the node
      jsonPath: .status.phase
      name: PHASE
      type: string
    - description: The IP address allocated to the node
      jsonPath: .status.allocatedAddress
      name: IP
      type: string
    - description: The network the node belongs to
      jsonPath: .spec.network
      name: NETWORK
      type: string
    - description: Number of active connections
      jsonPath: .status.connectionSummary.connected
      name: CONNECTED
      type: integer
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WireflowPeer is the Schema for the nodes API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WireflowPeerSpec defines the desired state of WireflowPeer.
            properties:
              allowedIPs:
                items:
                  type: string
                type: array
              appId:
                type: string
              dnsServers:
                items:
                  type: string
                type: array
              interfaceName:
                description: Interface for the node
                type: string
              mtu:
                type: integer
              network:
                type: string
              networkPolicies:
                items:
                  type: string
                type: array
              peerId:
                format: int64
                type: integer
              platform:
                description: platform which node runs on
                type: string
              privateKey:
                type: string
              publicKey:
                type: string
            type: object
          status:
            description: WireflowPeerStatus defines the observed state of WireflowPeer.
            properties:
              activeKey:
                description: Active key
                type: string
              activeNetwork:
                description: Active networks, record the network the node joined
                type: string
              activeNetworkPolicies:
                items:
                  type: string
                type: array
              allocatedAddress:
                description: Allocated IP address, auto allocated by controller
                type: string
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              connectionSummary:
                description: Connection summary
                properties:
                  connected:
                    type: integer
                  disconnected:
                    type: integer
                  total:
                    type: integer
                required:
                - connected
                - disconnected
                - total
                type: object
              lastSyncTime:
                format: date-time
                type: string
              observedGeneration:
                description: ObserveGeneration is the generation observed by the controller.
                format: int64
                type: integer
              phase:
                type: string
              status:
                description: WireflowPeer status
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
